html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#content
{
	border: 1px solid;
	clear:both;
	padding:10px;
}

h1
{
	padding:0 0 10px 0;
}

nav ul
{
	list-style: none;
	padding:0;
	margin:0;
}



header li
{
	float: left;
	border: 1px solid;
	border-bottom-width: 0;
	margin: 0 5px 0 0;
	background: white;
	display:inline-block;
}

nav
{

}

header li a
{
	position: relative;
	top:2px;
	text-decoration: none;
}

#selected a
{
	background: #ffffff;
}

nav li a 
{
	padding: 0 10px;
}